<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PatientSystem</title>
</head>
<body>
<h2>Opret patient</h2>

<form method="post" action="/sendpressed">
   Cpr:
    <input type="text" name="patient_cpr_id">
    <br>
    Fornavn:
    <input type="text" name="patient_first">
    <br>
    Efternavn:
    <input type="text" name="patient_last">
    <br>
    Adresse:
    <input type="text" name="patient_adress">
    <br>
    By:
    <input type="text" name="patient_city">
    <br>
    Telefon nr.:
    <input type="text" name="patient_phone">
    <br>
    køn:
    <input type="text" name="patient_sex">
    <br>
    <button type="submit">submit</button>

</form>
</body>
</html>